<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
	
		<!-- Database Connection Properties -->
		<property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="hibernate.connection.url">jdbc:mysql://localhost:3306/seubanco</property>
		<property name="hibernate.connection.username">root</property>
		<property name="hibernate.connection.password"></property>
		<property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
		
		<!-- Show MySQL Queries Output in Console -->
		<property name="hibernate.show_sql">true</property>
		
		<!-- Manage Automatic Database Creation -->
		<property name="hbm2ddl.auto">update</property>
		
		<!-- Set the Current Session Context -->
		<property name="hibernate.current_session_context_class">thread</property>
		
		
		<property name="hibernate.format_sql">false</property>
		
	</session-factory>
</hibernate-configuration>